/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Headings */
h2 {
  color: #4e342e;
  text-align: center;
}

/* styling for main header of the page */
.main_header {
  text-align: center;
  margin: 50px 30px 20px 30px;
  color: #4e342e;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}

/* styling for Main paragraph */
.main_para {
  text-align: center;
  margin-bottom: 40px;
  color: #5D4037;
  font-size: 18px;
}

/* styling container for the offer sections*/
.offer_container {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

/* Individual offer card */
.offer_card {
  display: flex;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 650px;
  height: auto;
  gap: 20px;
  margin: auto;
  margin-bottom: 30px;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* image styling */
.offer_card img {
  width: 170px;
  margin: 10px 10px 10px 10px;
}

.offer_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Styling for subscription plan container*/
.plan_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

/* stylling for each card */
.plan_card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  cursor: pointer;
}

/* styling for card's heading2 */
.plan_card h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #4e342e;
}

/* card hover style */
.plan_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.plan_card ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

/* styling tick icons on the subscription plan */
.plan_card i {
  color: green;
  margin-right: 8px;
}

/* styling for select plan */
.select_plan {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #4e342e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}

/* Shop Now button */
.shop_now a {
  margin: auto;
  text-decoration: none;
  color: white;
  background-color: #4e342e;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.shop_now a:hover {
  background-color: #785c53;
  transition: 0.3s;
}



/* ---------------- Responsive ---------------- */

/* Tablet */
@media (max-width: 768px) {
  .offer_container {
    flex-direction: column;
    align-items: center;
  }

  .offer_card {
    width: 80%;
    flex-direction: column;
    text-align: center;
  }

  .offer_card img {
    margin: auto;
    width: 120px;
  }

  .plan_card {
    width: 80%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .main_header {
    margin: 30px 15px 15px 15px;
    font-size: 24px;
  }

  .main_para {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .offer_card {
    width: 90%;
    padding: 10px;
  }

  .offer_card img {
    margin: auto;
    width: 100px;
    margin-bottom: 15px;
  }

  .plan_card {
    width: 90%;
    padding: 10px;
  }

  .shop_now a {
    padding: 5px 10px;
    font-size: 14px;
  }
}